@model MVC_Test.Models.CustDistrModel
@{
    ViewBag.Title = "Home Page";
}

<link href="@Url.Content("~/Content/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" /> 
<script src="@Url.Content("~/Scripts/DatePickerReady.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")" type="text/javascript"></script>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#ddldistr").not(':visible');
    });
</script>

@using (Html.BeginForm())
{
    <div class="main">
        <table style="width:100%">
            <tr>
                <td style="width:50%">
                    <b><font color="red">*</font>Customer</b><br />
                    @Html.DropDownListFor(m => m.CustomerModel, new SelectList(Model.CustomerModel, "Id", "CustomerName"), new { @id = "ddlcustomer", @onchange = "javascript:getDistr(this.value);" })
                </td>
                <td style="width:50%">
                    <b><font color="red">*</font>Distributor</b><br />
                    <select id="ddldistr" name="ddldistr" hidden="hidden">
                    </select>
                </td>
            </tr>
            <tr><td style="height:20px">
            <tr>
                <td style="width:50%">
                    <b><font color="red">*</font>Customer PO</b><br />
                    @Html.TextBox("CustomerPO", "", new { style="width:100px" } )
                </td>
                <td style="width:50%">
                    <b><font color="red">*</font>PO Value($)</b><br />
                    @Html.TextBox("POValue", "", new { style = "width:80px" })
                </td>
            </tr>
            <tr><td style="height:20px">
            <tr>
                <td style="width:50%">
                    <b>Due Date</b><br />
                    @Html.TextBox("dueDate", null, new { style = "width:100px" })
                <td style="width:50%">
                    <b>Priority</b><br />
                    @Html.DropDownList("Priority", new List<SelectListItem> 
                        { 
                            new SelectListItem { Text="--- Select ---", Value = "0"},
                            new SelectListItem { Text="Urgent", Value = "4"},
                            new SelectListItem { Text="High", Value = "3"},
                            new SelectListItem { Text="Normal", Value = "2"},
                            new SelectListItem { Text="Low", Value = "1"}                        
                        })
                </td>
            </tr>
            <tr><td style="height:20px">
            <tr>
                <td style="width:50%">
                    <b><font color="red">*</font>Locales</b><br />
                    <a type="button"
                       class="btn"
                       href="#locale-editor"
                       data-toggle="modal">Add</a>
                </td>
                <td style="width:50%">
 
                </td>
            </tr>

        </table>

    </div>

    <br /><br /><br /><br />

}

@using (Html.BeginForm("Locales", "Home", FormMethod.Post, new { id="localeForm" }))
{ 
<div class="modal fade" id="locale-editor">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Locales(s)</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="controls span6">
                <label class="control-label" for="Title">Territory:</label>
                @Html.DropDownList("Territory", new List<SelectListItem>
               {
                   new SelectListItem{ Text = "--- Select ---", Value = "0"},
                   new SelectListItem{ Text = "United States (US)", Value = "1"},
                   new SelectListItem{ Text = "France (FR)", Value = "2"},
                   new SelectListItem{ Text = "Canada (CA)", Value = "3"},
                   new SelectListItem{ Text = "Sweden (SE)", Value = "4"},
                   new SelectListItem{ Text = "Mexico (MX)", Value = "5"}
               }, new { @id = "ddlterritory", @onchange = "javascript: getLanguages(this.value);" })

            </div>
            
            <div class="controls span6">
                <label class="control-label" for="Title">Language:</label>
                <select id="ddllanguage" name="ddllanguage" hidden="hidden"></select>

            </div>


            <div class="controls span6">
                <a href="#" type="button"
                   class="btn"
                   onclick="javascript: populateLocales();">Add</a>
            </div>
            <br /><br /><br />


            <div class="controls span12">
                <label class="control-label" for="Title">Locales:</label>
                <select id="listlocale" name="listlocale" size="3"></select>&nbsp; Select One Primary Locale

            </div>
        </div>
          
    </div>
    <div id="validationSummary" class="validation-summary">
        <ul></ul>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" type="button"
           class="btn" id="save"
           >
            Save
        </a>
        @*<input type="submit" name="Save" value="Save" />*@ 
    </div>
</div>
}


<script language="javascript" type="text/javascript">

    $("#save").on("click", function () {
        var optionValues = [];
        var optionSelected = false;

        $("#listlocale option").each(function () {
            optionValues.push($(this).val());
            alert($(this).selected);
        });


    })


    function populateLocales()
    {
        var size = 0;
        var terri = $("#ddlterritory option:selected").text();
        var lang = $("#ddllanguage option:selected").text();
        var locale = lang.substr(lang.length - 3, 2) + "-" + terri.substr(terri.length - 3, 2);
        var newListValue = $("listlocale").val();
        var appendItem = "<option value=" + locale + ">" + locale + "</option>";

        $("#listlocale option").each(function () {
            size += 1;
        });

        if (size < 3) {
            $("#listlocale").append(appendItem);
        }
        else {
            alert("Maximum of three locales can be added");
        }

        $("#listlocale").show();
    }

    function getDistr(_distrId) {

        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddldistr").html(procemessage).show();
        var url = "/Home/GetDistrByCustId/";
        
        $.ajax({
            url: url,
            data: { id: _distrId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                for (var i = 0; i < data.length; i++) {
                    markup += "<option value=" + data[i].Value + ">" + data[i].Text + "</option>";
                }
                $("#ddldistr").html(markup).show();
            },
            error: function (response) {
                alert("error: " + response);
            }

        });
    }

    function getLanguages(_territoryId) {
        var url = "/Home/GetLanguagesByTerritory/";

        $.ajax({
            url: url,
            data: { id: _territoryId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                for (var i = 0; i < data.length; i++) {
                    markup += "<option value=" + data[i].Value + ">" + data[i].Text + "</option>";
                }
                $("#ddllanguage").html(markup).show();
            },
            error: function (response) {
                alert("error: " + response);
            }
        });

    }

</script>
